@page
@using Microsoft.Extensions.Localization
@using Dignite.Examining.Localization
@model Dignite.Examining.Web.Pages.Examining.IndexModel
@inject IStringLocalizer<ExaminingResource> L
@{
}
<h1>Examining</h1>
<p>@L["SamplePageMessage"]</p>
