@page "/Examining"
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Microsoft.AspNetCore.Components.Web
@using global::Dignite.Examining.Localization
@inject IStringLocalizer<ExaminingResource> L
@{
}


<PageHeader Title="Examining"></PageHeader>

<main class="page-main">
    <p>@L["SamplePageMessage"]</p>
</main>
<footer class="page-footer">
    <hr />
    footer
</footer>