@page "/Examining"
@using Microsoft.Extensions.Localization
@using global::Dignite.Examining.Localization
@inject IStringLocalizer<ExaminingResource> L
@{
}
<h1>Examining</h1>
<p>@L["SamplePageMessage"]</p>